.gradient-card-wrapper {
  width: 100%;
  height: 100%;
}

.gradient-card {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
  padding: 2px;
}

.gradient-card-inner {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 18px;
  transition: all 0.2s;
  padding: 2rem;
}

.gradient-card-inner:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.gradient-card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
